[Unit]
Description=Service description
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=user
ExecStart=/usr/bin/env app /home/user/program/script.app
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/home/user/program

[Install]
WantedBy=multi-user.target

